x86reference.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="x86reference">
		<complexType>
			<sequence minOccurs="1">
				<element name="one-byte" minOccurs="1" maxOccurs="1" type="opcodeType"/>
				<element name="two-byte" minOccurs="1" maxOccurs="1" type="opcodeType"/>
				<element name="gen_notes" minOccurs="1" maxOccurs="1" type="gennotesType"/>
				<element name="ring_notes" minOccurs="1" maxOccurs="1" type="ringnotesType"/>
			</sequence>
			<attribute name="version" type="nonEmptyString" use="optional"/>
		</complexType>
	</element>

	<complexType name="gennotesType">
		<sequence>
			<element name="gen_note" maxOccurs="unbounded">
				<complexType>
					<attribute name="id" type="nonEmptyString" use="required"/>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="ringnotesType">
		<sequence>
			<element name="ring_note" maxOccurs="unbounded">
				<complexType>
					<attribute name="id" type="nonEmptyString" use="required"/>
				</complexType>
			</element>
		</sequence>
	</complexType>

	<complexType name="opcodeType">
		<sequence>
			<element name="pri_opcd" maxOccurs="unbounded" type="priopcdType"/>
		</sequence>
		<anyAttribute namespace="http://www.w3.org/XML/1998/namespace" processContents="skip"/>
	</complexType>

	<complexType name="priopcdType">
		<sequence>
			<element name="proc_start" minOccurs="0" maxOccurs="1" type="int"/>
			<element name="entry" minOccurs="1" maxOccurs="unbounded" type="entryType"/>
		</sequence>
		<attribute name="value" type="hexBinary" use="required"/>
	</complexType>

	<complexType name="entryType">
		<sequence>
			<element name="pref" minOccurs="0" maxOccurs="1" type="hexBinary"/>
			<element name="opcd_ext" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="integer">
						<pattern value="[0-7]"/>
					</restriction>
				</simpleType>
			</element>
			<element name="sec_opcd" minOccurs="0" maxOccurs="1">
				<complexType>
					<simpleContent>
						<extension base="hexBinary">
							<attribute name="escape" use="optional" type="yes_no"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="proc_start" minOccurs="0" maxOccurs="1">
				<complexType>
					<simpleContent>
						<extension base="integer">
							<attribute name="post" use="optional" type="yes_no"/>
							<attribute name="lat_step" use="optional" type="yes_no"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="proc_end" minOccurs="0" maxOccurs="1" type="int"/>
			<element name="syntax" minOccurs="1" maxOccurs="unbounded" type="syntaxType"/>
			<element name="instr_ext" minOccurs="0" maxOccurs="1">
				<simpleType>
					<restriction base="string">
						<enumeration value="sse1"/>
						<enumeration value="mmx"/>
						<enumeration value="sse2"/>
						<enumeration value="sse3"/>
						<enumeration value="ssse3"/>
						<enumeration value="vmx"/>
						<enumeration value="smx"/>
						<enumeration value="sse41"/>
						<enumeration value="sse42"/>
					</restriction>
				</simpleType>
			</element>
			<element name="grp1" minOccurs="0" maxOccurs="1" type="nonEmptyString"/>
			<element name="grp2" minOccurs="0" maxOccurs="2" type="nonEmptyString"/>
			<element name="grp3" minOccurs="0" maxOccurs="2" type="nonEmptyString"/>
			<element name="test_f" minOccurs="0" maxOccurs="1" type="nonEmptyString"/>
			<element name="modif_f" minOccurs="0" maxOccurs="1">
				<complexType>
					<simpleContent>
						<extension base="nonEmptyString">
							<attribute name="cond" use="optional" type="yes_no"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="def_f" minOccurs="0" maxOccurs="1">
				<complexType>
					<simpleContent>
						<extension base="nonEmptyString">
							<attribute name="cond" use="optional" type="nonEmptyString"/>
						</extension>
					</simpleContent>
				</complexType>
			</element>
			<element name="undef_f" minOccurs="0" maxOccurs="1" type="nonEmptyString"/>
			<element name="f_vals" minOccurs="0" maxOccurs="1" type="nonEmptyString"/>
			<element name="modif_f_fpu" minOccurs="0" maxOccurs="1" type="nonEmptyString"/>
			<element name="def_f_fpu" minOccurs="0" maxOccurs="1" type="nonEmptyString"/>
			<element name="undef_f_fpu" minOccurs="0" maxOccurs="1" type="nonEmptyString"/>
			<element name="f_vals_fpu" minOccurs="0" maxOccurs="1" type="nonEmptyString"/>
			<element name="note" minOccurs="0" maxOccurs="1" type="skipme"/>
		</sequence>

		<attribute name="doc_part_alias_ref" use="optional" type="nonEmptyString"/>
		<attribute name="part_alias" use="optional" type="nonEmptyString"/>
		<attribute name="mod" use="optional">
			<simpleType>
				<restriction base="string">
					<enumeration value="mem"/>
					<enumeration value="nomem"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="fpush" use="optional" type="yes_no"/>
		<attribute name="fpop" use="optional" type="nonEmptyString"/>
		<attribute name="mem_format" use="optional">
			<simpleType>
				<restriction base="string">
					<pattern value="[0-1][0-1]"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="doc64_ref" use="optional" type="nonEmptyString"/>
		<attribute name="alias" use="optional" type="nonEmptyString"/>
		<attribute name="tttn" use="optional">
			<simpleType>
				<restriction base="string">
					<pattern value="[0-1][0-1][0-1][0-1]"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="sign-ext" use="optional" type="nonEmptyString" fixed="1"/>
		<attribute name="particular" use="optional" type="yes_no"/>
		<attribute name="doc" use="optional">
			<simpleType>
				<restriction base="string">
					<enumeration value="m"/>
					<enumeration value="u"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="doc_ref" use="optional" type="nonEmptyString"/>
		<attribute name="is_doc" use="optional" type="yes_no"/>
		<attribute name="is_undoc" use="optional" type="yes_no"/>
		<attribute name="ring" use="optional">
			<simpleType>
				<restriction base="string">
					<enumeration value="0"/>
					<enumeration value="f"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="ring_ref" use="optional">
			<simpleType>
				<restriction base="string">
					<enumeration value="cr4_tsd"/>
					<enumeration value="cr4_pce"/>
					<enumeration value="rflags_iopl"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="ref" use="optional" type="nonEmptyString"/>
		<attribute name="mode" use="optional">
			<simpleType>
				<restriction base="string">
					<enumeration value="e"/>
					<enumeration value="p"/>
					<enumeration value="s"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="doc1632_ref" use="optional" type="nonEmptyString"/>
		<attribute name="r" use="optional" type="yes_no"/>
		<attribute name="attr" use="optional">
			<simpleType>
				<restriction base="string">
					<enumeration value="serial"/>
					<enumeration value="invd"/>
					<enumeration value="acc"/>
					<enumeration value="delaysint"/>
					<enumeration value="undef"/>
					<enumeration value="null"/>
					<enumeration value="nop"/>
					<enumeration value="delaysint_cond"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="lock" use="optional" type="yes_no"/>
		<attribute name="direction" use="optional" type="OneOrZero"/>
		<attribute name="op_size" use="optional" type="OneOrZero"/>
	</complexType>

	<complexType name="skipme">
		<sequence>
			<any minOccurs="0" maxOccurs="unbounded" processContents="skip"/>
		</sequence>
		<anyAttribute processContents="skip"/>
	</complexType>

	<complexType name="syntaxType">
		<sequence minOccurs="0">
			<sequence minOccurs="1">
				<element name="mnem" minOccurs="1" maxOccurs="1">
					<complexType>
						<simpleContent>
							<extension base="nonEmptyString">
								<attribute name="sug" use="optional" type="yes_no"/>
							</extension>
						</simpleContent>
					</complexType>
				</element>
			</sequence>
			<choice minOccurs="0" maxOccurs="36">
				<element name="src" minOccurs="0" maxOccurs="1" type="operandType"/>
				<element name="dst" minOccurs="0" maxOccurs="1" type="operandType"/>
			</choice>
		</sequence>
		<attribute name="mod" use="optional" type="nonEmptyString"/>
	</complexType>

	<complexType name="operandType" mixed="true">
		<all>
			<element name="a" minOccurs="0" maxOccurs="1" type="nonEmptyString"/>
			<element name="t" minOccurs="0" maxOccurs="1" type="nonEmptyString"/>
		</all>
		<attribute name="nr" use="optional">
			<simpleType>
				<union>
					<simpleType>
						<restriction base="integer">
							<maxInclusive value="15"/>
						</restriction>
					</simpleType>
					<simpleType>
						<restriction base="integer">
							<minInclusive value="172"/>
							<maxInclusive value="176"/>
						</restriction>
					</simpleType>
					<simpleType>
						<restriction base="string">
							<enumeration value="C0000102"/>
							<enumeration value="C0000103"/>
							<enumeration value="C0000084"/>
							<enumeration value="C0000082"/>
							<enumeration value="C0000081"/>
							<enumeration value="8B"/>
						</restriction>
					</simpleType>
				</union>
			</simpleType>
		</attribute>
		<attribute name="group" use="optional">
			<simpleType>
				<restriction base="string">
					<enumeration value="gen"/>
					<enumeration value="x87fpu"/>
					<enumeration value="seg"/>
					<enumeration value="systabp"/>
					<enumeration value="ctrl"/>
					<enumeration value="msr"/>
					<enumeration value="xmm"/>
					<enumeration value="mmx"/>
					<enumeration value="debug"/>
					<enumeration value="xcr"/>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="type" use="optional" type="nonEmptyString"/>
		<attribute name="depend" use="optional" type="yes_no"/>
		<attribute name="address" use="optional" type="AddressType"/>
		<attribute name="displayed" use="optional" type="yes_no"/>
	</complexType>

	<simpleType name="AddressType">
		<restriction base="string">
			<enumeration value="BA"/>
			<enumeration value="BB"/>
			<enumeration value="BD"/>
			<enumeration value="X"/>
			<enumeration value="Y"/>
			<enumeration value="SC"/>
			<enumeration value="S2"/>
			<enumeration value="S30"/>
			<enumeration value="S33"/>
			<enumeration value="F"/>
			<enumeration value="I"/>
			<enumeration value="EST"/>
		</restriction>
	</simpleType>

	<simpleType name="nonEmptyString">
		<annotation>
			<documentation>
				Doesn't allow empty strings OR trailing OR preceding whitespace
			</documentation>
		</annotation>
		<restriction base="string">
			<pattern value="\S+((.|\n)*\S+)*"/>
		</restriction>
	</simpleType>

	<simpleType name="OneOrZero">
		<restriction base="int">
			<enumeration value="1"/>
			<enumeration value="0"/>
		</restriction>
	</simpleType>

	<simpleType name="yes_no">
		<restriction base="string">
			<enumeration value="yes"/>
			<enumeration value="no"/>
		</restriction>
	</simpleType>
</schema>
